<div class="container" ng-hide="ready">
     <h3>Cargando...</h3>
	<button class="btn btn-lg btn-danger">
	<span class="icon-refresh icon-refresh-animate"></span> {{estado}}</button>
</div>
<div>
	<div class="row" id="buscador">
		<div class="span12 accordion-group">
			<div class="alert-success accordion-heading alert " ng-show="ready">
				<h3 class="titulo-tab">Filtro de personas</h3>
					<div class="clearfix"></div>
	  		</div>
			  <div ng-include="'/angular/partials/filtro.html'" ng-show="ready"></div>
			  <div ng-include="'/angular/partials/linea.html'"></div>
			  <div ng-include="'/angular/partials/comparador.html'"ng-show="ready"></div>
			</div>
		</div>
	</div>
</div>


