.logo {
	float: left;
}

.logout{
	float: right;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

ul.menu{
	clear: both;
	list-style: none;
}

ul.menu li{
	float: left;
	height: 31px;
	margin-top: 5px;
}

ul.menu li a{
	color: white;
	text-decoration: none;
}

ul.menu li a:hover{
	color: #E32;
}