<div ng-include="'angular/partials/hola.html'"></div>

<input type="hidden" placeholder="Filtrar por Nombre y/​o Apellido" ng-model="nombre" style="width:328px;">
<div class="container" ng-hide="ready">
     <h3 class="alert alert-info" style="margin-top:100px;margin-bottom:200px;height:200px;width:500px;margin-left:auto;margin-right:auto;text-align:center">
     	<br><br>Cargando...<br><br>
     <button class="btn btn-lg btn-success">
	 <span class="icon-refresh icon-refresh-animate"></span> {{estado}}</button></h3>
	
</div>

<div ng-include="'angular/partials/filtro.html'"></div>
<div ng-include="'angular/partials/linea.html'" ></div>
<div ng-include="'angular/partials/poderometro.html'" ></div>

<div ng-include="'angular/partials/comparador.html'"></div>
<div ng-include="'angular/partials/jerarquimetro.html'"></div>





