<div class="container" ng-hide="ready">
     <h3>Cargando...</h3>
	<button class="btn btn-lg btn-success disabled">
	<span class="icon-refresh icon-refresh-animate"></span> {{estado}}</button>
</div>

<div ng-include="'angular/partials/filtro.html'" ng-show="ready"></div>
<div ng-include="'angular/partials/linea.html'"></div>
<div ng-include="'angular/partials/poderometro.html'"></div>
<div ng-include="'angular/partials/jerarquimetro.html'"ng-show="ready"></div>
<div ng-include="'angular/partials/comparador.html'"ng-show="ready"></div>




