<div ng-include="'angular/partials/hola.html'"></div>




  <input ng-show="ready" type="hidden" placeholder="Filtrar por Nombre y/​o Apellido" ng-model="nombre" style="width:328px;">
  <div ng-show="ready" ng-include="'angular/partials/filtro.html'"></div>
  <div ng-include="'angular/partials/linea.html'" ></div>
  <div ng-show="ready" ng-include="'angular/partials/poderometro.html'" ></div>

  <div ng-show="ready" ng-include="'angular/partials/comparador.html'"></div>
  <div ng-show="ready" ng-include="'angular/partials/jerarquimetro.html'"></div>

