<div class="row" id="comparador">
  	<div class="accordion-group">
	    <div class="alert-error accordion-heading alert ">
	      <h3 class="titulo-tab">Comparacion</h3>
		</div>
		<div class="accordion-body">
			<div class="accordion-inner">
				<div class="personas index">
					<table class="table" cellpadding="0" cellspacing="0" ng-show="activePersons.length > 0">
						<tbody>
						<tr>
							<th></th>
							<td></td>
							<td>Cargos</td>
							<td>Primero</td>
							<td>Ultimo</td>
							<td>Ejec.</td>
							<td>Legis.</td>
							<td>Jud.</td>
							<td>Elect.</td>
							<td>No elect.</td>
							<td>Reelecc.</td>
						</tr>
						<tr ng-repeat="active in activePersons">
							<td>{{active.name}}</td>
              <td></td>
							<td>{{active.memberships.length}}</td>
							<td>{{active.periods.started}}</td>
							<td>{{active.periods.last}}</td>
							<td>{{active.summary.executives}}</td>
							<td>{{active.summary.legislative}}</td>
							<td>{{active.summary.judiciary}}</td>
							<td>{{active.summary.elected}}</td>
							<td>{{active.summary.notElected}}</td>
							<td>{{active.summary.reElected}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
