<div class="row" id="linea-de-tiempo">
  <div class="span12 accordion-group">
    <div class="alert-error accordion-heading alert ">
      <h3 class="titulo-tab">
			Comparacion</h3>
	</div>
	<div class="accordion-body collapse in">
		<div class="accordion-inner">
			<div class="personas index">
				<table class="table" cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
						<th>
						</th>
						<td></td>
						<td>Cargos</td>
						<td>Primero</td>
						<td>Ultimo</td>
						<td>Ejec.</td>
						<td>Legis.</td>
						<td>Jud.</td>
						<td>Elect.</td>
						<td>No elect.</td>
						<td>Reelecc.</td>
					</tr>
					<tr ng-repeat="active in activePersons">
						<td>{{active.name}}</td>
						<td>
							<a data-id="242" style="float:right" class="btn btn-mini eliminar-buscar btn-danger">
								<i class="icon-remove icon-white"  ng-click="remove(active)"></i>
							</a>
							<a class="btn btn-mini btn-primary" style="float:right" id="ver-persona-242" target="_blank">
								Ver <i class="icon-user icon-white"></i>
							</a>
						</td>
						<td>{{active.memberships.length}}</td>
						<td>{{active.started}}</td>
						<td>{{active.last}}</td>
						<td>{{active.executives}}</td>
						<td>{{active.legislative}}</td>
						<td>{{active.judiciary}}</td>
						<td>{{active.elected}}</td>
						<td>{{active.notElected}}</td>
						<td>{{active.reElected}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
