
<div class="row" id="filtro">
	<div class="accordion-group">
		
  		<div class="row">
  			<div class="span5" style="margin-bottom:10px">
				<h3 style="margin-bottom: 5px;">Ingrese el nombre del funcionario a buscar:</h3>
				<div class="search-row clearfix">
            		<input id="nombre" type="text" placeholder="Nombre y/​o Apellido (m&iacute;nimo 5 caracteres)" ng-model="nombre" ng-change="filterAutoPersons(nombre)" style="width:328px;">
	  				<a ng-click="clearFilter(nombre)" alt="Limpiar filtro" class="badge badge-warning remove" ng-show="nombre.length > 0"><i class="fa fa-times"></i></a>
	  		    </div>
		        
			</div>
			<div class="span5" style="margin-bottom:10px" ng-show="showPresets">
				<h3 style="margin-bottom: 5px;">O elija una selecci&oacute;n predefinida</h3>
				<div class="search-row clearfix">
			            <ul>
			            		<li ng-repeat="p in presets"> 
                        <h5><a ng-click="load(p.valores)">{{p.nombre}}</a></h5>
                      </li>

						</ul>
		        </div>
		        
			</div>
			
			<div class="span6" style="width: 100%;margin-bottom: 7px; margin-top: 10px;max-width: 570px;" ng-show="!showPresets">
			  		<div class="items">
			  			<span class="label ng-binding" style="margin-bottom:4px">{{autoPersons.length}} funcionarios encontrados</span>
			  			<a ng-click="clearResults()" alt="Limpiar filtro" class="badge badge-warning remove" style="padding-right:10px" ng-show="autoPersons.length > 0"><i class="fa fa-times"></i>Limpiar resultados</a>  				
			  			<div class="resultados"  style="background:#fff;padding:6px;border-bottom: solid 3px white;">
							<div  class="item" ng-repeat="item in autoPersons" >
								<a id="limpiar-buscar-filtro" ng-click="add(item,item.index)" class="badge badge-warning" ng-class="item.styles" style="margin-bottom:4px">
						   		<i ng-hide="item.agregada"class="fa fa-check" ></i> {{item.nombre}}
						   		</a>		  								
							</div>
						</div>
					</div>
			
			</div>
			<div class="row" style="padding: 13px 0px;border-top: 1px solid #cacaca;" ng-show="activePersons.length > 0">
				<div class="span10" id="personas-seleccionadas-box">
					<div class="span2 persona-seleccionada" ng-repeat="active in activePersons">
	          			<a ng-click="remove(active)" class="badge badge-warning remove"><i class="fa fa-times"></i></a>
	            			<div class="photo-frame">
                    			<img class="photo" ng-src="{{active.image}}">
                  			</div>
	            		<p>{{active.name}}</p>
	          		</div>
			
				</div>
				<div class="span2"   style="width:156px; margin-left:5px">
					<span class="label" style="width:100%;margin-bottom:4px">Seleccionados: {{activePersons.length}} </span><br>
					<a id="limpiar-buscar-filtro" ng-click="clearAll()" class="badge badge-warning" style="width:100%;margin-bottom:4px">
					<i class="fa fa-times" ></i> Limpiar Selecci&oacute;n
					</a>
					<br>
					<a href="#" class="badge badge-warning" style="background-color:#79CEDF;width:100%;margin-bottom:4px"  onclick="window.open('https://twitter.com/intent/tweet?text=Linea%20de%20tiempo%20de%20politicos%3A&amp;tw_p=tweetbutton&amp;via=cargografias&amp;url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436'); 
					return false;"><i class="fa fa-twitter"></i>Twittear esta selecci&oacute;n</a>		
				</div>
		
			</div>
		<div class="clearfix"></div>
	</div>
</div>

