
<div class="row" id="filtro">
	<div class="accordion-group" style="padding-bottom: 14px;">
		
  		<div class="row">
  			<div class="span5">
				<h3 style="margin-left:10px;">Ingrese el nombre del funcionario a buscar:</h3>
				<div class="search-row clearfix">
	  				<input type="text" placeholder="Filtrar por Nombre y/​o Apellido" ng-model="autocomplete">
				</div>
			</div>
		<div class="span6" style="width: 100%;margin-bottom: 7px; margin-top: 10px;max-width: 570px;">
		  		<div class="items">
		  			<div class="resultados" ng-show="autocomplete.length > 3" style="background:#fff">
  						<table class="table" cellpadding="0" cellspacing="0">
  			        		<tbody>
  								<tr>
  									<th><small> {{results.length}} resultados</small></th>
  									<th></th>
  								</tr>
  								<tr class="item" ng-repeat="item in results = (autoPersons | filter:autocomplete)" ng-hide="item.agregada">
  									<td>{{item.nombre}}</td>
  									<td class="actions">
  											<a class="btn btn-mini agregar-buscar btn-primary" href="" ng-click="add(item,item.index)">
  											Agregar <i class="icon-chevron-down icon-white"></i></a>
  									</td>
  								</tr>
  							</tbody>
  						</table>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="span9" style="width:100%">
				<div class"row" style="padding:14px 0px">
	          		<div class="span1 persona-seleccionada" ng-repeat="active in activePersons">
	          			<a ng-click="remove(active)" class="badge badge-warning remove">
	                  	<i class="fa fa-times"></i></a>
	            		<div style="width:60px;height:60px"><img class="photo" src="/img/person.png"></div>
	            		<p>{{active.name}}</p>
	            		
	          		</div>
        		</div>
			</div>		
		</div>
		<div id="persona-seleccionada-toolbar" class="row">
			<div class="span9"  ng-show="activePersons.length > 0">
				<span class="label">Funcionarios Seleccionados: {{activePersons.length}} </span>&nbsp;
				<a id="limpiar-buscar-filtro" ng-click="clearAll()" class="badge badge-warning">
					<i class="fa fa-times"></i> Limpiar Selección
				</a>&nbsp;
				<a href="#" class="badge badge-warning" style="background-color:#79CEDF"  onclick="window.open('https://twitter.com/intent/tweet?text=Linea%20de%20tiempo%20de%20politicos%3A&amp;tw_p=tweetbutton&amp;via=cargografias&amp;url='+encodeURIComponent(location.href),'twitter-share-dialog','width=626,height=436'); 
					return false;"><i class="fa fa-twitter"></i>Twittear esta selección</a>		
			</div>
					<div class="clearfix"></div>

		</div>
        		
		<div class="clearfix"></div>
	</div>
</div>

