<div class="row" id="comparador">
  	<div class="accordion-group">
	    <div class="alert-error accordion-heading alert ">
	      	<h3 class="titulo-tab" ><i class="fa fa-bomb"></i>Hall of Shame</h3>
			<span class="subtitulo">Ranking con records y acumulados.</span>
		</div>
		
		<div class="row">
			<div class="span8" ng-hide="activePersons.length > 3">
				<h3> Para comprar necesitas elegir al menos 4 personas </h3>
			</div>
			<div class="span4" ng-show="activePersons.length > 3" ng-repeat="item in hallOfShame">
				<h3>{{item.titulo}}</h3>
				<h1>{{item.cantidad}}</h1>
				<h4>{{item.nombre}}</h4>
				

			</div>
		</div>
	</div>
</div>
