<div class="row" id="linea-de-tiempo">
	<div class="accordion-group">
		<div class="alert-error accordion-heading alert ">
			<div style="float:left">
				<h3 class="titulo-tab"><i class="fa fa-tasks"></i>Linea de tiempo</h3>
				<span class="subtitulo">Muestra los recorridos en la función publica de de los funcionarios seleccionados</span>
			</div>
			<ul class="nav nav-pills alert-error titulo-tab-ul">
			  <li ng-class="filterLinea == 'cargo' ? 'active' : '' ">
			  	<a id="ordenCargo" href="" ng-click="orderLine('cargo')">Ordenar por Cargo</a>
			  </li>
			  <li ng-class="filterLinea == 'nombre' ? 'active' : '' ">
			    <a id="ordenNombre" href="" ng-click="orderLine('nombre')">Ordenar por Nombre</a>
			  </li>
			</ul>
			<span class="label" style="float: right;">Año Seleccionado: {{activeYear}}</span>
			<div class="clearfix"></div>
				
		</div>
		<div ng-cargotimeline></div>
	</div>
</div>
