<div class="row" id="linea-de-tiempo">
	<div class="accordion-group">
		<div class="alert-error accordion-heading alert ">
			<h3 class="titulo-tab" style="float:left">Linea de tiempo</h3>
				<ul class="nav nav-pills alert-error titulo-tab-ul">
				  <li class="active">
				  	<a id="ordenCargo" href="#">Ordenar por Cargo</a>
				  </li>
				  <li class="disabled">
				    <a id="ordenNombre" href="#">Ordenar por Nombre</a>
				  </li>
				</ul>
				<div class="clearfix"></div>
		</div>
		<div ng-cargotimeline></div>
	</div>
</div>
