.ctl-ejeCargos0,
.ctl-ejeCargos1,
.ctl-ejePersonas{
	font-size: 12px;
}
.ctl-tooltip{
	position: absolute;
	display: none;
	background: black;
	opacity: 0.9;
	border-radius: 2px;
	padding: 5px;
	font-size: 12px;
}
.ctl-tooltip.ctl-legislativo,
.ctl-tooltip.ctl-Legislativo{
	background: #AACAFF;
}

.ctl-tooltip.ctl-Legislativo.nacional{
  background: rgba(0, 200, 255, 0.9);
}
.ctl-tooltip.ctl-Legislativo.provincial{
  background: rgba(0, 168, 255, 0.9);

}
.ctl-tooltip.ctl-Legislativo.provincial.concejal{
  background: rgba(170, 202, 255, 0.9);
}

.ctl-tooltip.ctl-ejecutivo,
.ctl-tooltip.ctl-Ejecutivo{
  background: #FDACB8;
}

.ctl-tooltip.ctl-Ejecutivo.nacional{
  background: rgba(240, 0, 0, 0.75);
}
.ctl-tooltip.ctl-Ejecutivo.provincial{
  background: rgba(240, 9, 0, 0.75);
}
.ctl-tooltip.ctl-Ejecutivo.provincial.intendente{
  background: rgba(240, 91, 0, 0.75);
}


.ctl-tooltip .ctl-detalles{
	font-size: 10px;
	line-height: 10px;
}

.bloques{
	cursor: pointer;
}

.grab{
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.grabbing{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

.ctl-cargos rect{
	cursor: inherit;
}
.ctl-cargos rect.ctl-legislativo,
.ctl-cargos rect.ctl-Legislativo{
	fill: #00f;
}
.ctl-cargos rect.ctl-Legislativo.nacional{
  fill: #00f;
}
.ctl-cargos rect.ctl-Legislativo.provincial{
  fill: #005AFF;
}
}
.ctl-cargos rect.ctl-Legislativo.provincial.concejal{
  fill: #0BF;
}
.ctl-cargos rect.ctl-ejecutivo,
.ctl-cargos rect.ctl-Ejecutivo{
	fill: #f00;
}
.ctl-cargos rect.ctl-Ejecutivo.nacional{
  fill: #F00000;
}
.ctl-cargos rect.ctl-Ejecutivo.provincial{
  fill: #F00900;
}
.ctl-cargos rect.ctl-Ejecutivo.provincial.intendente{
  fill: #F05B00;
}



.ctl-cargos text{
	fill: #FFF;
}
.ctl-cargos text.ctl-nombre, {
	
}
.ctl-cargos text.ctl-cargo{
}
.ctl-axis path,
.ctl-axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.ctl-axis text {
	font-family: sans-serif;
	font-size: 10px;
}
.ctl-timeline-label {
	font-size: 12px;
}
.ctl-yearMarker {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}

#linea-slider{
	stroke-width: 22;
	stroke-opacity: 0.3;
	stroke: silver;
}