body {
	overflow-x:hidden; 
}
   .axis path,
    .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

    .axis text {
      font-family: sans-serif;
      font-size: 10px;
    }

    .timeline-label {
      font-family: sans-serif;
      font-size: 12px;
	
    }
    
    #timeline2 .axis {
      transform: translate(0px,30px);
      -ms-transform: translate(0px,30px); /* IE 9 */
      -webkit-transform: translate(0px,30px); /* Safari and Chrome */
      -o-transform: translate(0px,30px); /* Opera */
      -moz-transform: translate(0px,30px); /* Firefox */
    }

    .coloredDiv {
      height:20px; width:20px; float:left;

    }
	
	.yearMarker {
		fill: none;
		stroke:black;
		stroke-width:2px;
	}

	svg {
		 pointer-events: all;
	}
	
	
    #hoverInfo {
      position: fixed;
      right: 30px;
      top: 30px; 
	  padding:20px;
	  background-color:#77FFFF;
	  border:dotted 1px;
    }
	
	.cargo{
		 -moz-user-select: -moz-none;
		   -khtml-user-select: none;
		   -webkit-user-select: none;
		   cursor:cell;
	
		}

#referencias-container .span2{
	text-align: center;
}

.referencia{
	padding:10px; 
	font-weight: bold;
	color: white;
}

	.CARGO_EMPRESA{
		fill:#FF0000;
		background-color: rgb(255,0,0);
	}

	.CARGO_GRUPOS{
		fill:#FF8000;
		background-color: rgb(255,128,0);
	}

	.CARGO_PUBLICO{
		fill:#0080FF;
		background-color: rgb(0,128,255);
	}

	.CARGO_ONG{
		fill:#8000FF;
		background-color: rgb(128,0,255);	
	}

	.CARGO_INTERNACIONAL{
		fill:#FF00FF;
		background-color: rgb(255,0,255);		
	}

	.CARGO_THINK_TANKS{
		fill:#00FF80;
		background-color: rgb(0,255,128);		
	}

	.vacio{
		fill:rgba(140, 140, 140, 0.2);
	
	}

	.miniLabels{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:9px;
		fill:#FFF;
		text-rendering: optimizeSpeed;
		font-weight: bold;
	}
	.microLabels{
		font-size:8px;
		fill-opacity:0.7;
	}
	svg {
  		shape-rendering: crispEdges;
	}

	.nombreLabel{
		font-size:15px;
		fill:#000;
		fill-opacity:100%;
		font-family:Tahoma, Geneva, sans-serif;
	}

#tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 5px;
  min-width: 100px;             
  font: 13px sans-serif;        
  border: 1px solid black;
  border-radius: 4px;           
  pointer-events: none;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;     
}

#tooltipImg {   
  position: absolute;           
  text-align: center;           
  border: 0px;      
  pointer-events: none;
  width: 300px;
  box-shadow: 2px 2px 2px black;    
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;  
  padding: 5px;
}

.mas-info{
	font-size: 10px;
	cursor: pointer;
}

#tooltipImg .tooltip-imagen{   
	float: left;
}

#tooltipImg span{
	float: right;
	width: 145px;
	margin-bottom: 5px;
}

#tooltipImg .tooltip-nombre{   
	font-weight: bold;
}

#tooltipImg .tooltip-bloque{   
	
}

#tooltipImg .tooltip-porcentaje{   
	font-size: 30px;
}

#tooltipImg .tooltip-puesto{   
	float: right;
}

#tooltipImg .tooltip-votos{   
	float: right;
}

.fecha{
	font: 10px sans-serif;
}
