.counters h2 {
	font-size: 50px;
	font-weight: bold;
}

.counters .no-well {
	padding: 19px;
}

.counters .well h2,
.counters .well h3 {
	text-shadow: 2px 2px white;
}
.row{
  margin-left: auto; 
}
.counters .no-well h2,
.counters .no-well h3 {
	text-shadow: 2px 2px #ccc;
}

.result-selected{
	font-weight: bold;
}

.proyecto p {
	text-align: justify;
}

footer {
	margin-top: 10px;
}

.lead{
	margin-top: 35px;
}

body{
	font-size: 13px;
	line-height: 17px;
	padding-top: 30px;
}

h2, h3{
	font-size:15px;
	line-height: 17px;
}


blockquote{
	margin:0px 0px 0px 20px;
	padding:11px 80px 11px 31px;
}
blockquote p {
	line-height: 19px;
	font-size: 14.5px;
}
.nav-pills>li>a {
		/*border: 1px solid #df382c;*/
		margin-top: 0px;
		margin-bottom: 0px;
		line-height: 11px;
		font-size: 11px;
		padding-top: 3px;
		padding-bottom: 3px;
}
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus{
	background-color:#646464;
	color:#fafafa;
}

.fondo-timeline{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f6f6f6;
	padding: 4px 0px 0px 4px;
}

.titulo-tab{
	margin-top: 0px;
	margin-bottom: 0px;
}

.titulo-tab-ul{
	float: left;
	margin: 0px 0px 0px 42px;
}

#timelineContainer{
	padding: 8px 0px 0px 8px;
}

.line-alert-error{
	border: 1px solid #fadfdd;
}

.accordion-group{
	background-color: #f8f8f8;
	border-color: #B1B1B1;
	margin-bottom:15px;
	box-shadow: 2px 2px 8px #8F8F8F;	
}

#comparador .accordion-group{
	background-color: #E6E6E6;
	-moz-box-shadow:    0 0 0px ;
   -webkit-box-shadow:  0 0 0px ;
   box-shadow:          0 0 0px ;
	border-color: #CACACA;



}

.accordion-group .accordion-heading.alert{
	border: none;
	border-radius: 0px;
	border-color: #A0D1A7;
	padding-bottom: 5px;
	padding-right: 15px;

}

.accordion-group .subtitulo{
	margin-left: 26px;
	color: #757575;
	font-size: 12px;
	}

.accordion-group .alert-error{
	color: #525252;
	background-color: #DFDFDF;

}


#filtro .accordion-group{
	background-color: #f2f2f2;
	border-color: #E6E6E6;
	margin-bottom:15px;
	-moz-box-shadow:    inset 0 0 7px #8F8F8F;
   -webkit-box-shadow: inset 0 0 7px #8F8F8F;
   box-shadow:         inset 0 0 7px #8F8F8F;
   padding-top: 30px;
}

#linea-de-tiempo .accordion-group{
	color:black;
	border-color:black;
}

#redes-sociales{
	text-align: center;
	width: 165px;
}

#redes-sociales a{
	margin-top: 5px;
	width: 100px;
}

.badge.badge-warning.remove{
	position: absolute;
	padding: 1px 0px 2px 5px;
	margin-left: 40px;
}

.remove .fa{
	margin-right:5px;
}




		
		.stripes {
			
			-webkit-background-size: 5px 5px;
			-moz-background-size: 5px 5px;
			background-size: 5px 5px; /* Controls the size of the stripes */
					
		}
		
		
		.angled {
			background-color: #E7E7E7;
			background-image: -webkit-gradient(linear, 0 0, 100% 100%,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
		}
		
			

.navbar-inner {
			background-color: #d44413;
			background-image: -moz-linear-gradient(top,#747474,#000);
			background-image: -webkit-gradient(linear,0 0,0 100%,from(#747474),to(#000));
			background-image: -webkit-linear-gradient(top,#747474,#000);
			background-image: -o-linear-gradient(top,#747474,#000);
			background-image: linear-gradient(to bottom,#747474,#000);
			border: 1px solid #000;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff747474',endColorstr='#ff000000',GradientType=0);
}

.navbar .brand, .navbar .nav>li>a{
	text-shadow: 0 1px 0 #8F8F8F;
}


.resultados{
  max-height: 166px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.span6{
	margin-left: 15px;
}

.table th, .table td{
	line-height: 16px;	
	padding: 4px;
	vertical-align: middle;
}

.alert{
	margin-bottom: 10px;
}

.container{
  width: 1000px;
}

.label, .badge{
	padding-left: 11px;
	padding-right: 11px;
	font-weight: normal;
	font-size: 12px;

}

svg text{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: inherit;
}

#year-marker-label {
	font-family: sans-serif;
	font-size: 12px;
	stroke-width: 0;
	fill: red;
	font-weight: bold;
}

#year-marker-badge:hover {
		fill:#CACACA;
	}

.alert-info{
	line-height: 22px;
}

.fa{ /*iconitos!*/
	font-size: 14px;
	margin-right: 10px;
}

.persona-seleccionada p{
	font-size: 12px;
	line-height: 12px;
}

.persona-seleccionada{
	width:90px;
	margin-left: 2px;
	margin-right: 20px;
}

.label-warning, .badge-warning {
	background-color: #F57C52;
}